# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# Pyre type checker
.pyre/

# pytype
.pytype/

# mypy
.mypy_cache/

# pylint
.pylint.d/

# coverage reports
.coverage
coverage.xml
htmlcov/
.cache/

# Pytest
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# Environment variable / secret files
.env
.env.*

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS files
.DS_Store

# Windows files
Thumbs.db
desktop.ini

# misc
output/
